@font-face {
    font-family: 'Apoc LC';
    src: url('~assets/fonts/ApocLC-Hairline.eot');
    src: url('~assets/fonts/ApocLC-Hairline.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-Hairline.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-Hairline.woff') format('woff'),
        url('~assets/fonts/ApocLC-Hairline.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-Hairline.svg#ApocLC-Hairline') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC';
    src: url('~assets/fonts/ApocLC-HairlineItalic.eot');
    src: url('~assets/fonts/ApocLC-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-HairlineItalic.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-HairlineItalic.woff') format('woff'),
        url('~assets/fonts/ApocLC-HairlineItalic.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-HairlineItalic.svg#ApocLC-HairlineItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC';
    src: url('~assets/fonts/ApocLC-Light.eot');
    src: url('~assets/fonts/ApocLC-Light.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-Light.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-Light.woff') format('woff'),
        url('~assets/fonts/ApocLC-Light.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-Light.svg#ApocLC-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC';
    src: url('~assets/fonts/ApocLC-LightItalic.eot');
    src: url('~assets/fonts/ApocLC-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-LightItalic.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-LightItalic.woff') format('woff'),
        url('~assets/fonts/ApocLC-LightItalic.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-LightItalic.svg#ApocLC-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC Sans';
    src: url('~assets/fonts/ApocLC-LightSans.eot');
    src: url('~assets/fonts/ApocLC-LightSans.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-LightSans.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-LightSans.woff') format('woff'),
        url('~assets/fonts/ApocLC-LightSans.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-LightSans.svg#ApocLC-LightSans') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC Sans';
    src: url('~assets/fonts/ApocLC-LightSansItalic.eot');
    src: url('~assets/fonts/ApocLC-LightSansItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-LightSansItalic.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-LightSansItalic.woff') format('woff'),
        url('~assets/fonts/ApocLC-LightSansItalic.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-LightSansItalic.svg#ApocLC-LightSansItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC';
    src: url('~assets/fonts/ApocLC-RegularItalic.eot');
    src: url('~assets/fonts/ApocLC-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-RegularItalic.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-RegularItalic.woff') format('woff'),
        url('~assets/fonts/ApocLC-RegularItalic.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-RegularItalic.svg#ApocLC-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC Revelations';
    src: url('~assets/fonts/ApocLC-Revelations.eot');
    src: url('~assets/fonts/ApocLC-Revelations.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-Revelations.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-Revelations.woff') format('woff'),
        url('~assets/fonts/ApocLC-Revelations.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-Revelations.svg#ApocLC-Revelations') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC Revelations';
    src: url('~assets/fonts/ApocLC-RevelationsItalic.eot');
    src: url('~assets/fonts/ApocLC-RevelationsItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-RevelationsItalic.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-RevelationsItalic.woff') format('woff'),
        url('~assets/fonts/ApocLC-RevelationsItalic.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-RevelationsItalic.svg#ApocLC-RevelationsItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC';
    src: url('~assets/fonts/ApocLC-Bold.eot');
    src: url('~assets/fonts/ApocLC-Bold.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-Bold.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-Bold.woff') format('woff'),
        url('~assets/fonts/ApocLC-Bold.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-Bold.svg#ApocLC-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC';
    src: url('~assets/fonts/ApocLC-BoldItalic.eot');
    src: url('~assets/fonts/ApocLC-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-BoldItalic.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-BoldItalic.woff') format('woff'),
        url('~assets/fonts/ApocLC-BoldItalic.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-BoldItalic.svg#ApocLC-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC';
    src: url('~assets/fonts/ApocLC-DarkItalic.eot');
    src: url('~assets/fonts/ApocLC-DarkItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-DarkItalic.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-DarkItalic.woff') format('woff'),
        url('~assets/fonts/ApocLC-DarkItalic.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-DarkItalic.svg#ApocLC-DarkItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC';
    src: url('~assets/fonts/ApocLC-Dark.eot');
    src: url('~assets/fonts/ApocLC-Dark.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-Dark.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-Dark.woff') format('woff'),
        url('~assets/fonts/ApocLC-Dark.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-Dark.svg#ApocLC-Dark') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC';
    src: url('~assets/fonts/ApocLC-Regular.eot');
    src: url('~assets/fonts/ApocLC-Regular.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-Regular.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-Regular.woff') format('woff'),
        url('~assets/fonts/ApocLC-Regular.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-Regular.svg#ApocLC-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC';
    src: url('~assets/fonts/ApocLC-UltraBoldItalic.eot');
    src: url('~assets/fonts/ApocLC-UltraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-UltraBoldItalic.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-UltraBoldItalic.woff') format('woff'),
        url('~assets/fonts/ApocLC-UltraBoldItalic.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-UltraBoldItalic.svg#ApocLC-UltraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apoc LC';
    src: url('~assets/fonts/ApocLC-UltraBold.eot');
    src: url('~assets/fonts/ApocLC-UltraBold.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ApocLC-UltraBold.woff2') format('woff2'),
        url('~assets/fonts/ApocLC-UltraBold.woff') format('woff'),
        url('~assets/fonts/ApocLC-UltraBold.ttf') format('truetype'),
        url('~assets/fonts/ApocLC-UltraBold.svg#ApocLC-UltraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-Thin.eot');
    src: url('~assets/fonts/GraphikLC-Thin.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-Thin.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-Thin.woff') format('woff'),
        url('~assets/fonts/GraphikLC-Thin.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-Thin.svg#GraphikLC-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-ThinItalic.eot');
    src: url('~assets/fonts/GraphikLC-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-ThinItalic.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-ThinItalic.woff') format('woff'),
        url('~assets/fonts/GraphikLC-ThinItalic.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-ThinItalic.svg#GraphikLC-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-Extralight.eot');
    src: url('~assets/fonts/GraphikLC-Extralight.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-Extralight.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-Extralight.woff') format('woff'),
        url('~assets/fonts/GraphikLC-Extralight.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-Extralight.svg#GraphikLC-Extralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-ExtralightItalic.eot');
    src: url('~assets/fonts/GraphikLC-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-ExtralightItalic.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-ExtralightItalic.woff') format('woff'),
        url('~assets/fonts/GraphikLC-ExtralightItalic.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-ExtralightItalic.svg#GraphikLC-ExtralightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-Light.eot');
    src: url('~assets/fonts/GraphikLC-Light.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-Light.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-Light.woff') format('woff'),
        url('~assets/fonts/GraphikLC-Light.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-Light.svg#GraphikLC-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-LightItalic.eot');
    src: url('~assets/fonts/GraphikLC-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-LightItalic.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-LightItalic.woff') format('woff'),
        url('~assets/fonts/GraphikLC-LightItalic.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-LightItalic.svg#GraphikLC-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-Regular.eot');
    src: url('~assets/fonts/GraphikLC-Regular.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-Regular.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-Regular.woff') format('woff'),
        url('~assets/fonts/GraphikLC-Regular.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-Regular.svg#GraphikLC-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-RegularItalic.eot');
    src: url('~assets/fonts/GraphikLC-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-RegularItalic.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-RegularItalic.woff') format('woff'),
        url('~assets/fonts/GraphikLC-RegularItalic.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-RegularItalic.svg#GraphikLC-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC Super';
    src: url('~assets/fonts/GraphikLC-Super.eot');
    src: url('~assets/fonts/GraphikLC-Super.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-Super.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-Super.woff') format('woff'),
        url('~assets/fonts/GraphikLC-Super.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-Super.svg#GraphikLC-Super') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC Super';
    src: url('~assets/fonts/GraphikLC-SuperItalic.eot');
    src: url('~assets/fonts/GraphikLC-SuperItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-SuperItalic.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-SuperItalic.woff') format('woff'),
        url('~assets/fonts/GraphikLC-SuperItalic.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-SuperItalic.svg#GraphikLC-SuperItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-Medium.eot');
    src: url('~assets/fonts/GraphikLC-Medium.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-Medium.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-Medium.woff') format('woff'),
        url('~assets/fonts/GraphikLC-Medium.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-Medium.svg#GraphikLC-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-MediumItalic.eot');
    src: url('~assets/fonts/GraphikLC-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-MediumItalic.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-MediumItalic.woff') format('woff'),
        url('~assets/fonts/GraphikLC-MediumItalic.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-MediumItalic.svg#GraphikLC-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-Semibold.eot');
    src: url('~assets/fonts/GraphikLC-Semibold.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-Semibold.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-Semibold.woff') format('woff'),
        url('~assets/fonts/GraphikLC-Semibold.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-Semibold.svg#GraphikLC-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-SemiboldItalic.eot');
    src: url('~assets/fonts/GraphikLC-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-SemiboldItalic.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-SemiboldItalic.woff') format('woff'),
        url('~assets/fonts/GraphikLC-SemiboldItalic.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-SemiboldItalic.svg#GraphikLC-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-Bold.eot');
    src: url('~assets/fonts/GraphikLC-Bold.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-Bold.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-Bold.woff') format('woff'),
        url('~assets/fonts/GraphikLC-Bold.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-Bold.svg#GraphikLC-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-BoldItalic.eot');
    src: url('~assets/fonts/GraphikLC-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-BoldItalic.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-BoldItalic.woff') format('woff'),
        url('~assets/fonts/GraphikLC-BoldItalic.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-BoldItalic.svg#GraphikLC-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-Black.eot');
    src: url('~assets/fonts/GraphikLC-Black.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-Black.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-Black.woff') format('woff'),
        url('~assets/fonts/GraphikLC-Black.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-Black.svg#GraphikLC-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('~assets/fonts/GraphikLC-BlackItalic.eot');
    src: url('~assets/fonts/GraphikLC-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/GraphikLC-BlackItalic.woff2') format('woff2'),
        url('~assets/fonts/GraphikLC-BlackItalic.woff') format('woff'),
        url('~assets/fonts/GraphikLC-BlackItalic.ttf') format('truetype'),
        url('~assets/fonts/GraphikLC-BlackItalic.svg#GraphikLC-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
